:root {
  /* Color Variables */
  --blue: #628bbd;
  --pink: #ffcdcd;
  --grayblue: #9baec5;
  --rouge: #bd4a73;
  --loudblue: #5bd3ff;
  --loudrouge: #f65273; /*for the bookmark, but the svg editing in code was not working so I used png instead*/

  /* Size Variables */
  --big: 3em;
  --total: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 20px;
  background-color: var(--pink);
}
