:root {
  /* Color Variables */
  --blue: #628bbd;
  --pink: #ffcdcd;
  --gray: #cdcdd5;
  --rouge: #bd4a73;
  --filled: #f65273; /*for the bookmark, but the svg editing in code was not working so I used png instead*/

  /* Size Variables */
  --big: 3rem;
  --total: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 20px;
  background-color: var(--pink);
}

/* ---------------------------------- HEADER ----------------------------------*/
.main-header {
  position: fixed;
  top: 0;
  width: var(--total);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--rouge);
  z-index: 3;
}

.main-header__title {
  font-size: var(--big);
  font-family: "Henny Penny", system-ui;
  color: white;
  margin: 0;
}

/* ---------------------------------- MAIN ----------------------------------*/

.main-content {
  width: var(--total);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15vh;
  margin-bottom: 15vh;
  z-index: -1;
  font-family: "Atma", system-ui;
}

/* ---------------------------------- FOOTER ----------------------------------*/

.main-footer {
  position: fixed;
  bottom: 0;
  width: var(--total);
  height: 10vh;
  background-color: var(--blue);
  z-index: 3;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: var(--total);
}

.footer-nav__link img {
  height: var(--big);
}
