:root {
  /* Color Variables */

  --inky-black: #0d070a;
  --forest-green: #48594d;
  --navy-blue: #253b40;
  --dark-beige: #a69665;
  --rust-orange: #bf754b;
  --eggshell-white: #f0e2c4;

  /* Size Variables */
  --big: 3rem;
  --total: 100%;
  --ten: 10%;
}
