@import "global.css";

/* ---------------------------------- HOMEPAGE ----------------------------------*/

.card {
  width: 90vw;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding: 1rem;
  position: relative;
  background-color: white;
}

.card__bookmark {
  width: 2rem;
  /* height: 2rempx; */
  fill: "none";
  stroke: "black";
  stroke-width: 2px;
  stroke-linecap: "round";
  stroke-linejoin: "round";
  position: absolute;
  top: -15px;
  right: 5vw;
}

/*  CODE BELOW WAS FOR WHEN SVG COULD BE EDITABLE, SINCE THEN .card__bookmark IS A .PNG   */
/* .card__bookmark--filled {
  fill: "black";
  stroke: "white";
} */

.card__question {
  text-align: center;
}

.card__answer--hidden {
  visibility: hidden;
}

.card__button {
  background-color: var(--rouge);
  color: white;
  border: 2px solid black;
  padding: 14px 40px;
  z-index: 2;
  transition: background-color 0.4s ease;
  cursor: pointer;
  font-family: "Atma", system-ui;
  font-weight: bold;
}

.card__button:hover {
  background-color: var(--blue);
}

.card__tags {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-self: flex-start;
  gap: 1rem;
}

.card__tags__tag {
  border: 1px solid black;
  padding: 5px 15px;
  border-radius: 12%;
  background-color: gray;
  color: white;
}

/* ---------------------------------- PROFILE ----------------------------------*/

.profile {
  width: 90vw;
  padding: 1vh 4vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile__top {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10vw;
  align-items: center;
}

.profile__top__img {
  height: 30vh;
}

.profile__about-me {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0rem 1rem;
}

.profile__counters {
  width: 100%;
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.profile_counters__counter {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 12px;
  padding: 5px 35px;
}

.counter__question {
  width: 25px;
  height: 25px;
}

.counter__bookmark {
  width: 25px;
  height: 25px;
}

.profile__settings {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0rem 2rem;
}

.settings__dark-mode {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.settings__dark-mode__title {
  margin: 0;
}

.dark-mode__button {
  padding: 0 0;
  background: none;
  border: none;
  cursor: pointer;
}

.dark-mode__button__img {
  width: 3rem;
  height: 3rem;
}
