@import "global.css";

body {
  margin: 0;
}

/* ---------------------------------- HEADER ----------------------------------*/
.main-header {
  position: fixed;
  top: 0;
  width: var(--total);
  height: var(--ten);
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header__title {
  font-size: var(--big);
  font-family: "Henny Penny", system-ui;
}

/* ---------------------------------- MAIN ----------------------------------*/

.card__bookmark {
  width: 24px;
  height: 24px;
  fill: "none";
  stroke: "black";
  stroke-width: 2px;
  stroke-linecap: "round";
  stroke-linejoin: "round";
}

.card__bookmark--filled {
  fill: "black";
  stroke: "white";
}

/* ---------------------------------- FOOTER ----------------------------------*/

.main-footer {
  position: fixed;
  bottom: 0;
  width: var(--total);
  height: var(--ten);
  border-top: 1px solid black;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: var(--total);
}

.footer-nav__link img {
  height: var(--big);
}
