@import "global.css";

body {
  margin: 0;
}

.main-header {
  position: fixed;
  top: 0;
  width: var(--total);
  height: var(--ten);
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header__title {
  font-size: var(--big);
}

.main-footer {
  position: fixed;
  bottom: 0;
  width: var(--total);
  height: var(--ten);
  border-top: 1px solid black;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: var(--total);
}

.footer-nav__link img {
  height: var(--big);
}
