.card {
  width: 90vw;
  border: 1px solid var(--blue);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
  padding: 1em;
  position: relative;
  background-color: white;
}

.card__bookmark {
  all: unset;
  cursor: pointer;
}

.card__bookmark__img {
  width: 2em;
  /* height: 2rempx; */
  fill: "none";
  stroke: "black";
  stroke-width: 2px;
  stroke-linecap: "round";
  stroke-linejoin: "round";
  position: absolute;
  top: -8px;
  right: 5vw;
}

/*  CODE BELOW WAS FOR WHEN SVG COULD BE EDITABLE, SINCE THEN .card__bookmark IS A .PNG   */
/* .card__bookmark--filled {
  fill: "black";
  stroke: "white";
} */

.card__question {
  text-align: center;
}

.card__answer {
  font-size: 2rem;
  text-shadow: 0 0 15px var(--loudblue), 0 0 10px var(--blue),
    0 0 15px var(--loudblue);
}

.card__answer--hidden {
  visibility: hidden;
}

.card__button {
  background-color: var(--rouge);
  color: white;
  border: 5px outset var(--blue);
  padding: 14px 40px;
  z-index: 2;
  transition: background-color 0.4s ease;
  cursor: pointer;
  font-family: "Atma", system-ui;
  font-weight: bold;
}

.card__button:hover {
  background-color: var(--blue);
  border: 5px outset var(--rouge);
}

.card__tags {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-self: flex-start;
  gap: 1em;
}

.card__tags__tag {
  padding: 5px 15px;
  border-radius: 12%;
  background-color: var(--grayblue);
  color: white;
}
