.main-footer {
  position: fixed;
  bottom: 0;
  width: var(--total);
  height: 10vh;
  background-color: var(--blue);
  z-index: 3;
}

.main-footer--darkmode {
  background-color: var(--darkblue);
}

.footer-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: var(--total);
}

.footer-nav__link {
  width: 34%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: background-color 0.4s ease;
}

.footer-nav__link--active {
  background-color: var(--rouge);
}

.footer-nav__link--active--darkmode {
  background-color: var(--darkrouge);
}

/* I dont know how to make ↓↓↓ work

.footer-nav__link--darkmode:hover {
  background-color: var(--darkrouge);
} */

.footer-nav__link:hover {
  background-color: var(--rouge);
}

.footer-nav__link img {
  height: var(--big);
}
