/* ---------------------------------- ABOUT ME ----------------------------------*/

.profile-page {
  background-color: #d3e9ff;
  z-index: -1;
  margin-top: 4vh;
  padding: 15vh 15vw 16vh 15vw;
  font-family: "Atma", system-ui;
}

.profile-page--darkmode {
  background-color: var(--dark);
  color: white;
}

.profile__top {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10vw;
  align-items: center;
}

.profile__top__img {
  height: 30vh;
}

.profile__about-me {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0rem 1em;
}

.profile__about-me__text:nth-child(3) {
  margin-top: 0;
  margin-bottom: 0;
}

.profile__about-me__text--right {
  text-align: right;
  font-style: italic;
  font-size: 12px;
  margin-top: 0;
}

/* ---------------------------------- COUNTERS ----------------------------------*/

.profile__counters {
  width: 100%;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  gap: 2em;
}

.profile__counters__button {
  border-radius: 12px;
  padding: 0 25px;
  background-color: var(--rouge);
  border: none;
}

.counters__button__link {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1em;
  align-items: center;
  color: white;
  text-decoration: none;
  font-family: "Atma", system-ui;
  font-weight: 700;
}

.counter__question {
  width: 25px;
  height: 25px;
}

.counter__bookmark {
  width: 25px;
  height: 25px;
}

/* ---------------------------------- SETTINGS ----------------------------------*/

.profile__settings {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0em 1em;
}

.settings__title {
  margin-top: 2em;
  margin-bottom: 0;
}

.settings__dark-mode {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
}

.settings__dark-mode__title {
  margin: 0;
}

.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
  margin-top: 5px;
}

.switch input {
  display: none;
}

.slider {
  background-color: var(--grayblue);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: var(--rouge);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
